notes*

# Private Environment Variables 
experiments/.env
exercises/.env
project/.env

# Experiments
experiments/docker/anaconda-env/logs/*
*anaconda-env/app/notebooks/.ipynb_checkpoints/*
experiments/docker/anaconda-env/data/nobel_winners*.csv
